name: Deploy Finch-AI to Aruba

on:
  push:
    branches: ["main"]

concurrency:
  group: deploy-aruba
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Deploy build folder via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.ARUBA_FTP_SERVER }}
          username: ${{ secrets.ARUBA_FTP_USER }}
          password: ${{ secrets.ARUBA_FTP_PASS }}

          local-dir: ./dist/
          server-dir: /

          exclude: |
            **/.env
            **/.env.*